{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
	<div class="text-bg-primary text-warning">
		<h1>{{name}}</h1>
	</div>

	<hr class="my-5">

	<div>
		<ul>
			<li class="mb-3"><b>birthdate:</b> {{birthdate}}</li>
			<li class="mb-3"><b>birthplace:</b> {{birthplace}}</li>
			<li class="mb-3"><b>deathdate:</b> {{deathdate}}</li>
			<li class="mb-3"><b>deathplace:</b> {{deathplace}}</li>
			<li class="mb-3"><b>nationality:</b> {{nationality}}</li>
			<li class="mb-3"><b>occupation:</b> {{occupation}}</li>
			<li class="mb-3"><b>known for:</b> {{known_for}}</li>


			<li class="mb-3"><b>education:</b>

				<ul>
					{{#each education}}
					<li>degree: {{degree}}</li>
					<li>field: {{field}}</li>
					<li>institution: {{institution}}</li>
					<li>year: {{year}}</li>
					{{/each}}
				</ul>
			</li>

			<li class="mb-3"><b>notable publications:</b>

				{{#each notable_publications}}
				<ul>
					<br>
					<li>title: {{title}}</li>
					<li>year: {{year}}</li>
					<li>publisher: {{publisher}}</li>
				</ul>
				{{/each}}
			</li>

			<li class="mb-3"><b>partners:</b>

				{{#each partners}}
				<ul>
					<br>
					<li>name: {{name}}</li>
					<li>relationship: {{relationship}}</li>
					<li>years: {{years}}</li>
				</ul>
				{{/each}}
			</li>

			<li class="mb-3"><b>awards:</b>

				<ul>
					{{#each awards}}
					<li>title: {{title}}</li>
					<li>year: {{year}}</li>
					<li>description: {{description}}</li>
					{{/each}}
				</ul>
			</li>

			<li class="mb-3"><b>influences:</b> {{influences}}</li>
			<li class="mb-3"><b>influenced:</b> {{influenced}}</li>

			<li class="mb-3"><b>quotes:</b>

				<ul>
					{{#each quotes}}
					<li><q>{{this}}</q></li>
					{{/each}}
				</ul>
			</li>

			<li class="mb-3"><b>major discoveries:</b>

				<ul>
					{{#each major_discoveries}}
					<li>title: {{title}}</li>
					<li>year: {{year}}</li>
					<li>description: {{description}}</li>
					{{/each}}
				</ul>
			</li>

			<li><b>contributions:</b>

				<ul>
					{{#with contributions}}
					<li>title: {{title}}</li>
					<li>description: {{description}}</li>
					<li>year: {{year}}</li>
					<li>field: {{field}}</li>
					{{/with}}
				</ul>
			</li>
		</ul>
	</div>
</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}