{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
	{{#with program}}

	{{#with excursion}}

	<div class="text-bg-primary text-warning">
		<h1>{{name}}</h1>
	</div>

	<div>
		{{#with location}}
		{{city}}, {{country}}
		{{/with}}
	</div>

	<div>
		{{date}}
	</div>

	<hr class="my-5">

	<div>
		<h2>Program</h2>

		<ul>
			{{#each program}}
			<li><b>name:</b>{{name}}</li>
			<li><b>type:</b> {{type}}</li>
			<li><b>duration: </b>{{duration}}</li>

			<h3 class="mt-3">Details</h3>
			<ul>
				{{#with details}}

				<ul>
					{{#with museum}}

					<li><b>name of museum: </b>{{name}}</li>

					<ul>
						{{#with location}}
						<li><b>address:</b> {{address}}</li>
						<li><b>city: </b>{{city}}</li>
						<li><b>country: </b>{{country}}</li>
						{{/with}}
					</ul>

					<h3 class="mt-3">Exhibits</h3>
					{{#each exhibits}}
					<ul>
						<br>
						<li><b>name: </b>{{name}}</li>

						{{#if artist includeZero = true}}
						<li><b>artist:</b> {{artist}}</li>
						{{else}}
						{{/if}}

						<li><b>description:</b> {{description}}</li>
						<li><b>audio guide:</b>

							{{#if audio_guide}}
							yes
							{{else}}
							no
							{{/if}}

						</li>
					</ul>
					{{/each}}

					<ul>
						{{#with guide}}
						<h3 class="mt-3">Guide</h3>
						<li><b>name: </b>{{name}}</li>
						<li><b>language:</b> {{language}}</li>
						<li><b>rating:</b> {{rating}}</li>
						{{/with}}
					</ul>

					{{/with}}
				</ul>

				{{/with}}
			</ul>

			<ul>
				{{#with details}}

				<ul>
					{{#with venue}}

					<li><b>name of venue:</b> {{name}}</li>

					<ul>
						{{#with location}}
						<li><b>address: </b>{{address}}</li>
						<li><b>city:</b> {{city}}</li>
						<li><b>country:</b> {{country}}</li>
						{{/with}}
					</ul>

					{{/with}}
				</ul>

				<ul>
					{{#each performers}}
					<h3 class="mt-3">Performers</h3>
					<li><b>name:</b> {{name}}</li>
					<li><b>type:</b> {{type}}</li>
					{{/each}}
				</ul>

				<ul>
					{{#with guide}}
					<h3 class="mt-3">Guide</h3>
					<li><b>name: </b>{{name}}</li>
					<li><b>language:</b> {{language}}</li>
					<li><b>rating:</b> {{rating}}</li>
					{{/with}}
				</ul>

				{{/with}}
			</ul>

			{{/each}}
		</ul>

	</div>

	{{/with}}

	{{/with}}
</div>


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}