{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div class="m-3">

	<hr class="mt-5">

	<div class="text-bg-info">
		{{#with navigation}}
		<div class="nav">
			{{#each links}}
			<div class="nav-item">
				<a href="{{href}}" class="nav-link {{#if @last}} disabled {{/if}}">{{text}}</a>
			</div>
			{{/each}}
		</div>
		{{/with}}
	</div>

	<hr>

	<h1 class="mb-5 mt-5">{{header}}</h1>
	<div class="row">
		<div class="col-8">
			<div class="row">
				{{#with contacts_data}}
				<h2 class="mb-3">{{title}}</h2>

				<div>
					{{#each buttons}}
					{{#if isPrimary}}
					<button class="btn btn-warning btn-sm">{{text}}</button>
					{{/if}}
					{{#if isOutline}}
					<button class="btn btn-outline-warning btn-sm ms-3">{{text}}</button>
					{{/if}}
					{{/each}}
				</div>

				{{#with form}}

				{{#with input}}

				<div class="col-6 mb-3 mt-3">
					{{#with surname}}
					<label class="form-label">{{label}}</label>
					<input class="form-control form-control-sm" placeholder={{placeholder}}>

					<div class="form-text">{{caption}}</div>
					{{/with}}
				</div>


				<div class="col-6 mb-3 mt-3">
					{{#with name}}
					<label class="form-label">{{label}}</label>
					<input class="form-control form-control-sm" placeholder={{placeholder}}>
					<div class="form-text">{{caption}}</div>
					{{/with}}
				</div>



				<div class="col-6 mb-3 mt-3">
					{{#with phone}}
					<label class="form-label">{{label}}</label>
					<input class="form-control form-control-sm" placeholder={{placeholder}}>
					<div class="form-text">{{caption}}</div>
					{{/with}}
				</div>


				<div class="col-6 mb-3 mt-3">
					{{#with email}}
					<label class="form-label">{{label}}</label>
					<input class="form-control form-control-sm" placeholder={{placeholder}}>
					<div class="form-text">{{caption}}</div>
					{{/with}}
				</div>

				{{/with}}

				<hr class="mt-4">

				{{#each switch}}
				<div class=" pb-3 pt-1">
					<div class="form-check form-switch">
						<label class="form-check-label">{{text}}</label>
						<input type="checkbox" class="form-check-input">
					</div>
				</div>
				{{/each}}

				<hr class="mb-4">

				{{/with}}

				{{/with}}
			</div>
		</div>

		<div class="col-4">
			<div class="row">
				<div class="col-12">
					<div class="card py-2 px-2 pe-5 my-2">
						{{#each action_block}}

						{{#if this}}

						{{#if isSuccess}}
						<button class="btn btn-success btn-sm">{{text}}</button>
						{{/if}}
						{{#if isDanger}}
						<button class="btn btn-danger btn-sm my-2">{{text}}</button>
						{{/if}}
						{{#if isInfo}}
						<button class="btn btn-info btn-sm">{{text}}</button>
						{{/if}}

						{{/if}}

						{{/each}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					{{#with total}}
					<div class="card">
						<div class="card-body">
							<h3>{{title}}</h3>

							<div>
								{{#each item_list}}
								{{#if this}}
								<div>{{name}} {{price}}</div>
								{{/if}}
								{{/each}}
							</div>

							<hr>

							<div>
								{{#each additional_info}}
								{{#if this}}
								<div>{{text}} {{value}}</div>
								{{/if}}
								{{/each}}
							</div>

							<hr>

							<div>
								{{#with total_price}}
								<div>{{text}} {{value}}</div>
								{{/with}}
							</div>

							<hr>

							<div>
								{{#each button}}
								{{#if isPrimary}}
								<button class="btn btn-primary btn-sm px-1">{{text}}</button>
								{{/if}}
								{{#if isOutline}}
								<button class="btn btn-outline-primary btn-sm mt-2">{{text}}</button>
								{{/if}}
								{{/each}}
							</div>

						</div>
					</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>

	<div class="col-8">
		<div class="row">
			<div class="col-12">
				<div class="row">
					{{#with delivery}}
					<h3 class="mt-5 mb-3">{{title}}</h3>

					<div class="card">
						<div class="card-body">
							<div class="row">
								{{#each select}}
								<div class="col-6">
									<label class="form-label">{{label}}</label>
									<select class="form-select form-select-sm">{{placeholder}}
										<option selected>Вибрати</option>
										{{#each options}}
										<option value="{{value}}">{{text}}</option>
										{{/each}}
									</select>
								</div>
								{{/each}}
							</div>
						</div>
					</div>

					<div class="p-3">
						{{#each delivery_type}}
						<div class="form-check">
							<label class="form-check-label">{{type}}</label>
							<input name="options" type="radio" class="form-check-input">
						</div>
						{{/each}}
					</div>

					<hr class="mt-4 mb-4">

					<div>
						{{#with payment}}
						<h3>{{title}}</h3>

						{{#each list}}
						{{#if description}}
						<div class="form-check">
							<label class="form-check-label">{{type}}</label>
							<input name="food" type="radio" class="form-check-input">
						</div>
						<div class="form-label pb-3"><sub>{{description}}</sub></div>
						{{else}}
						<div class="form-check">
							<label class="form-check-label">{{type}}</label>
							<input name="food" type="radio" class="form-check-input">
						</div>
						{{/if}}
						{{/each}}
						{{/with}}
					</div>

					<hr class="mt-4 mb-4">

					<div class="row">
						{{#with contact}}
						<h3>{{title}}</h3>

						<div class="col-6 mb-3 mt-3">
							{{#with surname}}
							<label class="form-label">{{label}}</label>
							<input class="form-control form-control-sm" placeholder={{placeholder}}>
							<div class="form-text">{{caption}}</div>
							{{/with}}
						</div>

						<div class="col-6 mb-3 mt-3">
							{{#with name}}
							<label class="form-label">{{label}}</label>
							<input class="form-control form-control-sm" placeholder={{placeholder}}>
							<div class="form-text">{{caption}}</div>
							{{/with}}
						</div>

						<div class="col-6 mb-3 mt-3">
							{{#with phone}}
							<label class="form-label">{{label}}</label>
							<input class="form-control form-control-sm" placeholder={{placeholder}}>
							<div class="form-text">{{caption}}</div>
							{{/with}}
						</div>

						<div class="col-6 mb-3 mt-3">
							{{#with email}}
							<label class="form-label">{{label}}</label>
							<input class="form-control form-control-sm" placeholder={{placeholder}}>
							<div class="form-text">{{caption}}</div>
							{{/with}}
						</div>

						{{/with}}
					</div>

					<hr class="mt-4 mb-4">

					<div>
						{{#with coment}}
						<label class="form-label">{{label}}</label>
						<input class="form-control form-control-sm" placeholder={{placeholder}}>
						{{/with}}
					</div>

					{{/with}}
				</div>
			</div>

			<hr class="mt-4 mb-4">

			<div>
				{{#with coupon}}
				<h3>{{title}}</h3>

				{{#with select}}

				{{#with availabel_coupon}}
				<label class="form-label">{{label}}</label>
				<select class="form-select form-select-lg">
					<option selected>{{placeholder}}</option>
					{{#each options}}
					<option value="{{value}}">{{text}}</option>
					{{/each}}
				</select>
				{{/with}}

				{{#with friend_coupon}}
				<label class="form-label pt-4">{{label}}</label>
				<select class="form-select form-select-sm">
					<option selected>{{placeholder}}</option>
					{{#each options}}
					<option value="{{value}}">{{text}}</option>
					{{/each}}
				</select>
				{{/with}}

				{{/with}}

				{{#with add}}
				{{#with friend}}
				<label class="form-label pt-4">{{label}}</label>
				<input class="form-control form-control-lg" placeholder={{placeholder}}>
				<div class="form-text">{{caption}}</div>
				{{/with}}

				{{#with colleague}}
				<label class="form-label pt-4">{{label}}</label>
				<input class="form-control form-control-sm" placeholder={{placeholder}}>
				<div class="form-text">{{caption}}</div>
				{{/with}}
				{{/with}}

				{{/with}}
			</div>

			<hr class="mt-4 mb-4">

			<div>
				{{#with quiz}}
				<h3>{{title}}</h3>

				{{#with preference}}
				<div class="form-label">{{title}}</div>
				{{#each options}}
				<div class="form-check">
					<label class="form-check-label">{{this}}</label>
					<input name="options" type="radio" class="form-check-input">
				</div>
				{{/each}}
				{{/with}}

				<div class="mt-4">
					{{#with your_expirience}}
					<label class="form-label">{{label}}</label>
					<input class="form-control">
					{{/with}}
				</div>

				<div class="mt-4">
					{{#with purchase_frequency}}
					<label class="form-label">{{label}}</label>
					<select class="form-select form-select-sm">{{placeholder}}
						<option selected>Оберіть варіант</option>
						{{#each options}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					{{/with}}
				</div>

				<div class="mt-4 mb-2">
					{{#with factors}}
					<div class="form-label">{{title}}</div>
					{{#each options}}
					<div class="form-check">
						<label class="form-check-label">{{this}}</label>
						<input name="options" type="checkbox" class="form-check-input">
					</div>
					{{/each}}
					{{/with}}
				</div>
				{{/with}}
			</div>

		</div>
	</div>

	<hr class="mt-5">

	<div class="nav text-bg-info px-2">
		{{#each footer}}
		<div class="nav-item">
			{{#each this}}
			<a href="{{link}}" class="nav-link {{#if @last}} disabled {{/if}}">{{text}}</a>
			{{/each}}
		</div>
		{{/each}}
	</div>

	<hr class="mb-5">

</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}