{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div class="m-3">
	<div class="row">

		<hr>

		{{#with navigation}}
		<div class="nav pb-3">
			{{#each links}}
			<div class="nav-item">
				<a href="{{href}}" class="nav-link {{#if @last}} disabled {{/if}}">{{text}}</a>
			</div>
			{{/each}}
		</div>
		{{/with}}

		<hr>

		{{#with newsBlock}}
		<h1 class="text-center mb-5 mt-5">{{title}}</h1>

		{{#each cards}}
		<div class="col-3 g-3">
			<div class="card text-bg-dark">
				<div class="card-body text-center">
					<h3 class="card-title">
						{{title}}
						{{#if isTop}}<span class="badge rounded-pill text-bg-danger m-3">Топ</span>{{/if}}
						{{#if isNew}}<span class="badge rounded-pill text-bg-success m-3">Нова</span> {{/if}}
					</h3>
					<p class="text-center">{{description}}</p>
				</div>
			</div>
		</div>
		{{/each}}

		{{/with}}

		{{#with goodsBlock}}

		<div class="nav nav-tabs col-12 mb-5 mt-5">
			{{#each tabs}}
			<div class="nav-item">
				<div class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}} disabled {{/if}}">
					{{text}}
				</div>
			</div>
			{{/each}}
		</div>

		{{#each cards}}
		<div class="col-4 g-3">
			<div class="card">
				<img class="card-img-top" src="{{image}}">
				<div class="card-body">
					<h3 class="card-title">
						{{title}}
						{{#if isHot}}<span class="badge rounded-pill text-bg-warning text-uppercase">Hot!</span>{{/if}}
						{{#if isNew}}<span class="badge rounded-pill text-bg-primary">Нове</span>{{/if}}
					</h3>
					<p class="text-bg-secondary">{{description}}</p>
				</div>
			</div>
		</div>
		{{/each}}

		{{/with}}

		<div class="text-bg-secondary mt-5">
			{{#with subscribe}}

			<h2>{{header}}</h2>
			<p>{{description}}</p>
			{{#each buttons}}
			<a href="{{link}}" class="btn btn-primary m-2">{{text}}</a>
			{{/each}}

			{{/with}}
		</div>

		<div class="text-bg-success text-center mt-5 mb-5">
			{{#with service}}

			<h2>{{title}}</h2>
			<p>{{description}}</p>
			{{#each buttons}}
			<a href="{{link}}" class="btn btn-primary col-2 m-2">{{text}}</a>
			{{/each}}

			{{/with}}
		</div>

		<hr>

		<footer>
			<div class="nav">
				{{#each footer}}
				<div class="nav-item">
					{{#each this}}
					<a href="{{link}}" class="nav-link {{#if @last}} disabled {{/if}}">{{text}}</a>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</footer>

		<hr>

	</div>
</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}