{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="m-3">

	{{#with navigation}}

	<div class="nav">
		{{#each links}}
		<div class="nav-item mb-3">
			<a href="{{href}}" class="nav-link">{{text}}</a>
		</div>
		{{/each}}
	</div>

	<div class="btn btn-outline-primary btn-sm mb-3">
		{{#with button}}
		<a href="{{href}}">{{text}}</a>
		{{/with}}
	</div>

	<hr class="my-5">

	{{/with}}

	{{#with header}}
	<h1 class="text-center mb-4">{{title}}</h1>
	<p class="my-3">{{description}}</p>

	<div class="text-end">
		<div class="btn btn-outline-primary btn-sm">
			{{#with button}}
			<a href="{{link}}">{{text}}</a>
			{{/with}}
		</div>
	</div>

	{{/with}}

	{{#with city}}
	<h2 class="text-center my-5">{{title}}</h2>

	<div class="row">
		{{#each cards}}
		<div class="card col-5 mx-2 my-3">
			{{#with picture}}
			<img class="card-img-top" src="{{src}}" alt="{{alt}}">
			{{/with}}

			<div class="card-body">
				<h5 class="card-title text-bg-primary">{{title}}</h5>
				<p class="text-bg-secondary">{{description}}</p>
				<div class="btn btn-outline-primary btn-sm">
					{{#with button}}
					<a href="{{href}}">{{text}}</a>
					{{/with}}
				</div>

			</div>
		</div>
		{{/each}}
	</div>

	{{/with}}

	{{#with winner}}
	<h2 class="text-center mt-5">{{title}}</h2>

	{{#with table}}
	<table class="table table-bordered text-bg-success text-dark">
		<thead>
			<tr>
				{{#each head}}
				<th>{{this}}</th>
				{{/each}}
			</tr>
		</thead>

		<tbody>
			{{#each user}}
			<br>
			<tr>
				<th>{{place}}</th>
				<td>{{name}}</td>
				<td>{{surname}}</td>
				<td>{{nickname}}</td>
			</tr>
			{{/each}}
		</tbody>

	</table>
	{{/with}}

	{{/with}}

	{{#with gallery}}
	<h3 class="text-center mt-5 mb-4">{{title}}</h3>

	<div class="row">
		{{#each cards}}
		<div class="card col-3 mx-3">
			<br>
			<ul class="list-group">
				<div class="card-header">{{name}}</div>
				<div class="card-body">
					{{#each items}}
					<li class="list-group-item"><q>{{this}}</q></li class="list-group-item">
					{{/each}}

				</div>
			</ul>
		</div>
		{{/each}}
	</div>

	{{/with}}

	{{#with relaxion}}
	<div class="display-5 text-center mt-5 mb-4">{{title}}</div>

	<div class="row">
		{{#each cards}}
		<div class="card col-5 card text-bg-secondary mx-2 my-3">
			<div class="card-header">{{header}}</div>
			<div class="card-body">
				<h5 class="card-title">{{title}}</h5>
				<p>{{description}}</p>
			</div>
		</div>
		{{/each}}
	</div>

	{{/with}}

	{{#with rest}}

	<div class="row">
		{{#each cards}}
		<div class="card card text-center col-5 mx-2 my-3">
			<div class="card-header">{{header}}</div>
			<div class="card-body">
				<h5 class="card-title"> {{title}}</h5>
				<p>{{description}}</p>
				<button class="btn btn-dark btn-sm">{{button}}</button>
				<p class="card-footer">{{footer}}</p>
			</div>
		</div>
		{{/each}}
	</div>

	{{/with}}

	{{#with proposition}}
	<div class="display-5 text-center my-5">{{title}}</div>

	<div class="row g-3">
		{{#each card}}
		<div class="card col-5 card text-bg-warning mx-2 my-3">
			<div class="card-header">{{header}}</div>
			<div class="card-body">
				<h4 class="card-title"> {{title}}</h4>
				<p>{{description}}</p>
			</div>
		</div>
		{{/each}}
	</div>

	{{/with}}

	{{#with footer}}

	<hr class="mt-5 mb-4">

	<h3 class="text-center mb-3">{{title}}</h3>
	<div class="nav mb-3">
		{{#each navigation}}
		<div class="nav-item">
			<a href="{{href}}" class="nav-link">{{text}}</a>
		</div>
		{{/each}}
	</div>

	<div class="mb-3">
		{{#each socialMedia}}
		<a href="{{link}}" class="btn btn-outline-dark btn-sm">{{name}}</a>
		{{/each}}
	</div>

	<div class="mb-3">
		{{#each partners}}
		<a href="{{link}}" class="btn btn-outline-info btn-sm">{{name}}</a>
		{{/each}}
	</div>

	{{/with}}
</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}