{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
	{{#with web}}


	<div>
		<div class="text-bg-primary text-warning">
			<h1>Languages</h1>
		</div>
		<ul>
			{{#each languages}}

			<hr class="my-5">

			<li><b>name:</b> {{name}}</li>
			<li class="mt-2"><b>version:</b> {{version}}</li>
			<li class="mt-2"><b>description:</b> {{description}}</li>

			<div>
				{{#if elements}}
				<b class="mt-2">elements:</b>
				{{/if}}

				<ul>
					{{#each elements}}
					<li class="mt-2"><b>name:</b> {{name}}</li>
					<li class="mt-2"><b>description:</b> {{description}}</li>
					<il>
						{{#if attributes}}
						<b class="mt-2">attributes:</b>
						{{/if}}
						<ul>
							{{#each attributes}}
							<li class="mt-2"><b>name:</b> {{name}}</li>
							<li class="mt-2"><b>description:</b> {{description}}</li>
							{{/each}}
						</ul>
					</il>
					{{/each}}
				</ul>
			</div>

			<div>
				{{#if properties}}
				<b class="mt-2">properties:</b>
				{{/if}}

				<ul>
					{{#each properties}}
					<li class="mt-2"><b>name:</b> {{name}}</li>
					<li class="mt-2"><b>description:</b> {{description}}</li>
					<li>
						{{#if values}}
						<b class="mt-2">values:</b>
						{{/if}}
						<ul>
							{{#each values}}
							<li class="mt-2"><b>value:</b> {{value}}</li>
							<li class="mt-2"><b>description:</b> {{description}}</li>
							{{/each}}
						</ul>
					</li>
					{{/each}}
				</ul>
			</div>

			<div>
				{{#if functions}}
				<b class="mt-2">functions:</b>
				{{/if}}

				<ul>
					{{#each functions}}
					<li class="mt-2"><b>name:</b> {{name}}</li>
					<li class="mt-2"><b>description:</b>{{description}}</li>
					<li>
						{{#if parameters}}
						<b class="mt-2">parameters:</b>
						{{/if}}
						<ul>
							{{#each parameters}}
							<li class="mt-2"><b>name:</b> {{name}}</li>
							<li class="mt-2"><b>type:</b> {{type}}</li>
							<li class="mt-2"><b>description:</b> {{description}}</li>
							{{/each}}
						</ul>
					</li>
					{{/each}}
				</ul>
			</div>

			{{/each}}
		</ul>
	</div>

	{{/with}}
</div>


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}